<div id="main-demo" aria-hidden="true">
    <div class="editor-container">
        <p id="main-demo-quill"></p>
    </div>
    <div class="tool-line">
        <div class="model mr-auto">Model: <span class="model-identifier">wtp-bert-tiny</span></div>
        <button class="example-button distill-button">Example Text</button>
        <button class="clear-button distill-button">Clear</button>
    </div>
</div>

<script>
    registerDemo("#main-demo", {
        exampleText: "Click here to play around with sentence segmentation! The best segmentation is often obvious, but in some cases it's not. For example, when they said \"This is a sentence. This is another sentence\", it is not obvious whether the quote should be part of the surrounding sentence, or should itself be split into sentences.\n\nThe model is loaded on the client-side in your browser. It is fast enough to allow live-editing. Check out the Github repository to use it yourself: github.com/bminixhofer/wtpsplit."
    });
</script>