<div id="styles-demo" aria-hidden="true">
    <div class="punct-line">
        <span class="ml-auto">Style: </span>
        <button class="ud-button distill-button">UD</button>
        <button class="opus100-button distill-button">OPUS100</button>
        <button class="ersatz-button distill-button">Ersatz</button>
    </div>
    <div class="editor-container">
        <p id="styles-demo-quill"></p>
    </div>
    <div class="tool-line">
        <div class="model mr-auto">Model: <span class="model-identifier">wtp-bert-tiny</span></div>
        <button class="example-button distill-button">Example Text</button>
        <button class="clear-button distill-button">Clear</button>
    </div>
    <p class="caption">Try out how the same piece of text may be segmented in different collections.</p>
</div>

<script>
    registerDemo("#styles-demo", {
        enablePunct: true,
        exampleText: "This is the high season for tourism; between December and April few people visit and many tour companies and restaurants close down.\n\n’I couldn’t help it,’ said Five, in a sulky tone; ’Seven jogged my elbow.’ On which Seven looked up and said, ’That’s right, Five! Always lay the blame on others.’\n\n\"A lot of people would like to go back to 1970,\" before program trading, he said. \"I would like to go back to 1970. But we’re not going back to 1970.\""
    });
</script>

<style>
    #styles-demo {
        position: relative;
        margin-bottom: 2rem;
    }

    @media (min-width: 992px) {
        #styles-demo .caption {
            position: absolute;
            top: 8rem;
            left: calc(100% + 1rem);
            text-align: left !important;
            width: 8.5rem;
        }
    }

    #styles-demo .caption {
        text-align: center;
        line-height: 1.2rem;
        opacity: 0.7;
    }
</style>